@using MaisonConnecteBlazor.Components.Base;
@inherits MaisonConnecteBase;

<div style="width: 100%; text-align:center; color: #eeeeee; margin: 20px 0;">
    <MudText Typo="Typo">@ChildContent</MudText>
</div>