@using MaisonConnecteBlazor.Components.Base;
@using MaisonConnecteBlazor.Components.Includes;
@using MaisonConnecteBlazor.Components.Misc;

@inherits MaisonConnecteBase;

@page "/manage"

<MaisonConnecteHeader></MaisonConnecteHeader>

<MaisonConnecteTitle>Gestion du matériel</MaisonConnecteTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <div style="display: flex; justify-content: center;">
        <MudColorPicker ColorPickerMode="ColorPickerMode.RGB" PickerVariant="PickerVariant.Static" />

        <div style="margin-left: 30px; width: 350px;">
            <MudPaper Height="400px" Class="px-4 pt-2 pb-4">
                <MudText Typo="Typo.h6">Options</MudText>
                <MudSwitch Label="LED allumé" Checked="true" Color="Color.Info"></MudSwitch>
            </MudPaper>
        </div>
    </div>
</MudContainer>