@using MaisonConnecteBlazor.Components.Base;
@using MaisonConnecteBlazor.Components.Includes;
@using MaisonConnecteBlazor.Components.Misc;

@inherits MaisonConnecteBase;

@page "/stats"

<MaisonConnecteHeader></MaisonConnecteHeader>

<MaisonConnecteTitle>Statistiques</MaisonConnecteTitle>

<MudContainer MaxWidth="MaxWidth.Large" style="margin-top: 50px !important;">
    <MudPaper>
        <MudGrid Spacing="8" Justify="Justify.Center">
            <MudItem>
                <MudSelect T="string" Variant="Variant.Filled" Label="Évenement">
                  <MudSelectItem Value="@("Test")"></MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem>
                <MudDatePicker Label="Date de début"></MudDatePicker>
            </MudItem>
            <MudItem>
                <MudDatePicker Label="Date de fin"></MudDatePicker>
            </MudItem>
            <MudItem style="display: flex;">
                <MudButtonGroup Color="Color.Info" Variant="Variant.Outlined" style="margin: auto 0;">
                    <MudButton>Semaine</MudButton>
                    <MudButton>Mois</MudButton>
                    <MudButton>Année</MudButton>
                </MudButtonGroup>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <div style="margin-top: 60px;">
        <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
    </div>
</MudContainer>

@code {
    private int Index = -1;

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
    new ChartSeries() { Name = "United States", Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 } },
    new ChartSeries() { Name = "Germany", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 31 } },
    new ChartSeries() { Name = "Sweden", Data = new double[] { 8, 6, 11, 13, 4, 16, 10, 16, 18 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
}