@using MaisonConnecteBlazor.Components.Base;
@using MaisonConnecteBlazor.Components.Includes;
@using MaisonConnecteBlazor.Components.Misc;
@using MaisonConnecteBlazor.Database.Models;

@inherits MaisonConnecteBase

@page "/videos"

<MaisonConnecteHeader></MaisonConnecteHeader>

<MaisonConnecteTitle>Galerie vidéo</MaisonConnecteTitle>

<MudContainer MaxWidth="MaxWidth.Large" style="margin-top: 15px;">
    <MudGrid>
        @foreach(EnregistrementPreview enregistrement in videos) {
            <MudItem xs="4">
                <MudPaper Class="align-center justify-center mud-width-full">
                    <div>
                        <a href="@("videos/" + enregistrement.ID)"><img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(enregistrement.Thumbnail!)}")" height="200" style="width: 100%; object-fit: cover;" /></a>
                    </div>

                    <div style="width: 100%; padding: 10px; text-align: right;">
                        <MudText Typo="Typo.body1">@enregistrement.Temps.ToString()</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</MudContainer>